{% extends 'crm/base.html.twig' %}
{% block breadcrumbs %}
    <p class="top-line-title">
        <a class="breadcrumb-item-link" href="{{ path('lk/setting') }}">Настройки</a>
        <svg class="breadcrumb-item" width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 16.5L11 8.80769L0.999999 1.5" stroke="#966B59" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </p>
    <p class="top-line-next-page">
        Компания
    </p>
{% endblock %}
{% block context %}
<div class="filter-block">
    <p class="title-block-title">
        Настройки компании
    </p>
</div>
<div class="edit-company-wrapper">
    <form method="post" class="edit-company-place">
        <p class="cat-setting">Основные настройки</p>
        <div class="field-company">
            <div class="title-company-field">
                <p>Название</p>
            </div>
            <div class="input-company-field-block">
                <input type="text" name="company[title]" class="input-company-field" value="{{ company_input.title??company.title??'' }}" required>
            </div>
        </div>
        <div class="field-company">
            <div class="title-company-field">
                <p>Описание</p>
            </div>
            <div class="input-company-field-block">
                <textarea class="input-company-field" name="company[description]" id="" cols="30" rows="10">{{ company_input.description??company.description??'' }}</textarea>
            </div>
        </div>
        <p class="cat-setting">Время работы</p>
        <div class="field-company-timetable">
            <div class="title-company-field">
                <p>Понедельник</p>
            </div>
            <div class="input-company-field-block-timetable">
                <div class="input-company-field-timetable">
                    <span class="time-start">С</span>
                    <input type="text" name="company[timetable][1][start]"
                           value="{{ company_input.timetable.1.start??company.timetable[1][0]??'0-00' }}">
                </div>
                <div class="input-company-field-timetable">
                    <span class="time-end">До</span>
                    <input type="text" name="company[timetable][1][end]"
                           value="{{ company_input.timetable.1.end??company.timetable[1][1]??'0-00' }}">
                </div>
            </div>
        </div>
        <div class="field-company-timetable">
            <div class="title-company-field">
                <p>Вторник</p>
            </div>
            <div class="input-company-field-block-timetable">
                <div class="input-company-field-timetable">
                    <span class="time-start">С</span>
                    <input type="text" name="company[timetable][2][start]"
                           value="{{ company_input.timetable.2.start??company.timetable[2][0]??'0-00' }}">
                </div>
                <div class="input-company-field-timetable">
                    <span class="time-end">До</span>
                    <input type="text" name="company[timetable][2][end]"
                           value="{{ company_input.timetable.2.end??company.timetable[2][1]??'0-00' }}">
                </div>
            </div>
        </div>
        <div class="field-company-timetable">
            <div class="title-company-field">
                <p>Среда</p>
            </div>
            <div class="input-company-field-block-timetable">
                <div class="input-company-field-timetable">
                    <span class="time-start">С</span>
                    <input type="text" name="company[timetable][3][start]"
                           value="{{ company_input.timetable.3.start??company.timetable[3][0]??'0-00' }}">
                </div>
                <div class="input-company-field-timetable">
                    <span class="time-end">До</span>
                    <input type="text" name="company[timetable][3][end]"
                           value="{{ company_input.timetable.3.end??company.timetable[3][1]??'0-00' }}">
                </div>
            </div>
        </div>
        <div class="field-company-timetable">
            <div class="title-company-field">
                <p>Четверг</p>
            </div>
            <div class="input-company-field-block-timetable">
                <div class="input-company-field-timetable">
                    <span class="time-start">С</span>
                    <input type="text" name="company[timetable][4][start]"
                           value="{{ company_input.timetable.4.start??company.timetable[4][0]??'0-00' }}">
                </div>
                <div class="input-company-field-timetable">
                    <span class="time-end">До</span>
                    <input type="text" name="company[timetable][4][end]"
                           value="{{ company_input.timetable.4.end??company.timetable[4][1]??'0-00' }}">
                </div>
            </div>
        </div>
        <div class="field-company-timetable">
            <div class="title-company-field">
                <p>Пятница</p>
            </div>
            <div class="input-company-field-block-timetable">
                <div class="input-company-field-timetable">
                    <span class="time-start">С</span>
                    <input type="text" name="company[timetable][5][start]"
                           value="{{ company_input.timetable.5.start??company.timetable[5][0]??'0-00' }}">
                </div>
                <div class="input-company-field-timetable">
                    <span class="time-end">До</span>
                    <input type="text" name="company[timetable][5][end]"
                           value="{{ company_input.timetable.5.end??company.timetable[5][1]??'0-00' }}">
                </div>
            </div>
        </div>
        <div class="field-company-timetable">
            <div class="title-company-field">
                <p>Суббота</p>
            </div>
            <div class="input-company-field-block-timetable">
                <div class="input-company-field-timetable">
                    <span class="time-start">С</span>
                    <input type="text" name="company[timetable][6][start]"
                           value="{{ company_input.timetable.6.start??company.timetable[6][0]??'0-00' }}">
                </div>
                <div class="input-company-field-timetable">
                    <span class="time-end">До</span>
                    <input type="text" name="company[timetable][6][end]"
                           value="{{ company_input.timetable.6.end??company.timetable[6][1]??'0-00' }}">
                </div>
            </div>
        </div>
        <div class="field-company-timetable">
            <div class="title-company-field">
                <p>Воскресенье</p>
            </div>
            <div class="input-company-field-block-timetable">
                <div class="input-company-field-timetable">
                    <span class="time-start">С</span>
                    <input type="text" name="company[timetable][0][start]"
                           value="{{ company_input.timetable.0.start??company.timetable[0][0]??'0-00' }}">
                </div>
                <div class="input-company-field-timetable">
                    <span class="time-end">До</span>
                    <input type="text" name="company[timetable][0][end]"
                           value="{{ company_input.timetable.0.end??company.timetable[0][1]??'0-00' }}">
                </div>
            </div>
        </div>

        <div class="btns-edit-company">
            <button type="submit" class="btn-success">Сохранить</button>
        </div>
        <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
        >
    </form>
</div>
{% endblock %}