{% extends 'crm/base.html.twig' %}
{% block breadcrumbs %}
    <p class="top-line-title">
        <a class="breadcrumb-item-link" href="{{ path('lk/client') }}">Клиентская база</a>
        <svg class="breadcrumb-item" width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 16.5L11 8.80769L0.999999 1.5" stroke="#966B59" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </p>
    <p class="top-line-next-page">
        {% if client.id > 0 %}
            {{ client.surname ~ ' ' ~ client.name }}
        {% else %}
            Новый клиент
        {% endif %}
    </p>
{% endblock %}
{% block context %}
<div class="filter-block">
    <p class="title-block-title">
        Редактор клиента
    </p>
</div>
{#<div class="table-title">#}
{#    <a href="{{ path('lk/setting/staff_edit', {'staff': staff}) }}"><p class="table-row-title active-table">Информация</p></a>#}
{#    {% if staff > 0 %}#}
{#    <a href="{{ path('lk/setting/staff_timetable', {'staff': staff}) }}"><p class="table-row-title">Расписание</p></a>#}
{#    <a href="#"><p class="table-row-title">Расчет ЗП</p></a>#}
{#    {% endif %}#}
{#</div>#}
<div class="edit-staff-wrapper">
    <form method="post" class="main-info-edit-staff" action="">
        <div class="edit-staff-place">
            <div class="field-company">
                <div class="title-company-field">
                    <p>Бонусный счет</p>
                </div>
                <div class="input-company-field-block">
                    <input type="text" name="client[bonus]" class="input-company-field" value="{{ client.bonus }}" disabled>
                </div>
            </div>
            <div class="field-company">
                <div class="title-company-field">
                    <p>Имя</p>
                </div>
                <div class="input-company-field-block">
                    <input type="text" name="client[name]" class="input-company-field" value="{{ client.name }}">
                </div>
            </div>
            <div class="field-company">
                <div class="title-company-field">
                    <p>Фамилия</p>
                </div>
                <div class="input-company-field-block">
                    <input type="text" name="client[surname]" class="input-company-field" value="{{ client.surname }}">
                </div>
            </div>
            <div class="field-company">
                <div class="title-company-field">
                    <p>Номер телефона</p>
                </div>
                <div class="input-company-field-block">
                    <input type="text" name="client[phone]" class="input-company-field" value="{{ client.phone }}">
                </div>
            </div>
            <div class="field-company">
                <div class="title-company-field">
                    <p>Комментарий</p>
                </div>
                <div class="input-company-field-block">
                    <textarea class="input-company-field" name="client[comment]" id="" cols="30" rows="10">{{ client.comment }}</textarea>
                </div>
            </div>

            <div class="btns-edit-staff">
                <button type="submit" class="btn-success">Сохранить</button>

{#                {% if staff != 0 %}#}
{#                    <button class="btn-delete">#}
{#                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">#}
{#                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="20">#}
{#                                <rect width="20" height="20" fill="url(#pattern0)"/>#}
{#                            </mask>#}
{#                            <g mask="url(#mask0)">#}
{#                                <rect width="20" height="20" fill="#966B59"/>#}
{#                            </g>#}
{#                            <defs>#}
{#                                <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">#}
{#                                    <use xlink:href="#image0" transform="scale(0.01)"/>#}
{#                                </pattern>#}
{#                                <image id="image0" width="100" height="100" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAABmJLR0QA/wD/AP+gvaeTAAACQ0lEQVR4nO3dUU4TQQCH8U+T9g4o3Ed80EuYCIHjiTcQGwWuUKPyoI+Wd3xoSdiVxsLO7P63/X7JJDRZJjvzpe22D12QJGn7TIFTYAbcALcdxw3wGThZza1HeAFc0T3CunEJ7PW2mpGbUjfG3bgAJj2tadROqR/jbhz3tKZRm9HctA/AywLz7gNnrbnPC8y79RY0N22/4NwHrbn/FJy7iGdDn8ADbluPS59j7fk7eT70CajJIGEMEqZLkNfAnPKXom1jm38OHG6wfw/q8ob2neVVi/51zROvDn3JCtMlyHuWT081zYF3T/3nktfg0df3FVRZry9ZYQwSxiBhDBLGIGEMEsYgYQwSxiBhEoO8BX4Dv4A3AceP1v++5t7U9b05fgYcv06p9TYkfpf12HlqH197nobEl6ydZpAwBgljkDAGCWOQMAYJY5AwBgljkDAGCWOQMAYJY5AwBgljkDAGCWOQMAYJY5AwBgljkDAGCWOQMAYJY5AwBgljkDAGCWOQMAYJY5AwBgljkDAGCWOQMAYJY5AwBgljkDAGCWOQMAYJY5AwBgljkDAGCWOQMAYJkxjk272/N7kdRu3jR6vUbxAeAj9W41XA8evszG8ujoW/ubgLDBLGIGEMEsYgYQwSxiBhSgZZtB6XvDF9mvYtZ9trjzCj+cn1jO2McgB8pLnW80HPaI0Tyt95eSzjqMD+FTcFLhl+c/oeX4BJgf2rYg+4YPhN6mt8Xa052gQ4Bj6xfLMbetNKj8VqbUcEPzMkSbvnL8Lz6ZTnu9aZAAAAAElFTkSuQmCC"/>#}
{#                            </defs>#}
{#                        </svg>#}
{#                        Удалить#}
{#                    </button>#}
{#                {% endif %}#}
            </div>
        </div>
{#        <div class="photo-loader">#}
{#            <div class="preview-image-staff">#}
{#                {% if staff > 0 and user.avatar is not empty %}#}
{#                    <img src="{{ asset('uploads/user/' ~ user.avatar) }}" alt="">#}
{#                {% else %}#}
{#                    <img src="{{ asset('assets/image/def-load-person.png') }}" alt="">#}
{#                {% endif %}#}
{#            </div>#}
{#            <div class="load-image-staff">#}
{#                <label class="btn-success" for="user_avatar">#}
{#                    Загрузить#}
{#                </label>#}
{#                <input name="avatar" style="display: none;" type="file" id="input-load-file-hidden">#}
{#                {{ form_widget(form_user.avatar, {attr:{'style':'display: none;'}}) }}#}
{#            </div>#}
{#        </div>#}
        <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
        >
    </form>
    <!-- <div id="table-content-2">

    </div>
    <div id="table-content-3">

    </div> -->
</div>
{% endblock %}